.login {
  padding: 5rem 0;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../images/register-background.png');
    z-index: -1;
  }
}
