.dash-panel-list {
  list-style-type: none;
}

.dash-panel-list li {
  margin: .5em 0;
}

.dash-panel-list-item {
  display: inline-block;
  float: left;
  font-size: 1.4em;
}

.quick-pending-orders-eta {
  float: right;
  font-size: .85em;
  margin-top: .5em;
}

.dash-panel-list a {
  display: block;
  position: relative;
  padding: .5em;
  text-decoration: none;
  transition: $default-transition;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: .2em;
    background: $brand-primary;
    transition: $default-transition;
  }

  &:hover {
    background: $brand-primary;
    color: white;
    text-decoration: none;
  }
}

.dash-panel-list .quick-pending-orders-link--done {
  color: #ccc;

  &:before {
    background: #eee;
  }

  &:hover {
    background: #eee;
    color: #ccc;
  }
}
